@charset "utf-8";

.category {width: 1280px; margin: -122px auto 0; background: #fff; display: flex; position: relative; border-radius: 20px; overflow: hidden;box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06); padding-top: 32px; position: relative; flex-wrap: wrap;} 
.category::before {content: "";  width: 1px; height: 240px; background: #eee;position: absolute; left: 50%; top: 0;}
.custom__cate > div {width: 640px; ;height: 208px; padding: 0 30px; box-sizing: border-box;}
.tit { height: 40px; font-size: 18px; color: #fff; text-align: center; line-height: 40px;}
.content {width: 640px; ;height: 208px; padding: 0 30px; box-sizing: border-box;}
.target-tit {width: 184px; background: url(https://img.enuri.info/images/health/web/target-cate--tit.svg) no-repeat 0 0 / 100%;}
.ingredient-tit {width: 146px ;background: url(https://img.enuri.info/images/health/web/function-cate__tit.svg) no-repeat 0 0;}


.target { height: 40px; font-size: 18px; color: #fff; text-align: center; line-height: 40px;}
.target-list {display: flex; gap: 0 12px; margin-top: 20px;}
.target-item button {font-size: 16px; color: #444; padding-top: 80px; line-height: 22px; width: 72px; letter-spacing: -0.8px; position: relative; background-position: 50% 17px !important; background-size: 72px;}
.target-item button::after {content: ""; width: 72px; height: 72px; position: absolute; left: 0; top: 0; border: 1px solid #ddd; border-radius: 20px;}
.target-item:nth-child(1) button {background: url(//img.enuri.info/images/health/web/target-cate_ico1.svg) no-repeat;}
.target-item:nth-child(2) button {background: url(//img.enuri.info/images/health/web/target-cate_ico2.svg) no-repeat;}
.target-item:nth-child(3) button {background: url(//img.enuri.info/images/health/web/target-cate_ico3.svg) no-repeat;}
.target-item:nth-child(4) button {background: url(//img.enuri.info/images/health/web/target-cate_ico4.svg) no-repeat;}
.target-item:nth-child(5) button {background: url(//img.enuri.info/images/health/web/target-cate_ico5.svg) no-repeat;}
.target-item:nth-child(6) button {background: url(//img.enuri.info/images/health/web/target-cate_ico6.svg) no-repeat;}
.target-item:nth-child(7) button {background: url(//img.enuri.info/images/health/web/target-cate_ico7.svg) no-repeat;}
.target-button {font-size: 16px; color: #444; margin-top: 8px; line-height: 22px;}
.target-item button.on  {color: #fe5c00; font-weight: 600;}

.ingredient-list {display: flex; gap: 8px 4px; flex-wrap: wrap; margin-top: 20px;}
.ingredient-list button {width: 92px; padding: 8px 0; font-size: 14px; line-height: 20px; color: #222; position: relative; border-radius: 19px;}
.ingredient-list button::after { content: ""; display: block; width: 100%; height: 100%; border: solid 1px #ddd; border-radius: 19px; position: absolute; top: 0; left: 0; box-sizing: border-box;}
.selected button {color: #fe5c00; font-weight: 600;}
.selected button::after {border: 2px solid rgba(254, 92, 0, 0.8);}

.button {width: 100%; background:url("//img.enuri.info/images/health/web/i_move__cate.svg") no-repeat 702px 50% #ffa825; padding: 24px 0; font-size: 22px; line-height: 20px; color: #fff; font-weight: 600;}
