.recommend-goods {padding: 80px 0 40px}
.inner {width: 1280px; margin: 0 auto; position: relative;}
.tit {font-size: 28px; line-height: 32px; color: #000; font-weight: 700; text-align: center;}
.sub-tit { color: #aaa; font-size: 14px; line-height: 18px; margin-top: 6px; text-align: center; font-weight: 500;}
.goods {margin-top: 32px}
.list {display: flex; gap: 0 20px;}
.list a:hover .recomm-goods__name{text-decoration: underline;}
.img {width: 240px; height: 240px; background: #fff; border-radius: 8px; overflow: hidden; position: relative;}
.img::before { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; border-radius: 4px; background-color: rgba(0, 0, 0, 0.02); border: 1px solid rgba(0, 0, 0, 0.03); z-index: 2;}
.img img {position: absolute; top: -50%; left: -50%; right: -50%; bottom: -50%; width: auto; max-width: 100%; height: auto; max-height: 208px; margin: auto; vertical-align: middle;}
.text {margin-top: 12px;}
.name { color: #222; font-size: 16px; line-height: 20px; display: -webkit-box; overflow: hidden; text-overflow: ellipsis; white-space: normal; word-wrap: break-word; -webkit-box-orient: vertical; -webkit-line-clamp: 2; height: 40px;}
.price { display: flex; margin: 4px 0; font-size: 14px; color: #000; flex-wrap: wrap; align-items: baseline; gap: 0 8px; letter-spacing: -0.3px;}
.price em {font-size: 24px; font-weight: 700; vertical-align: -1px; line-height: 28px;}
.daily-price { font-size: 12px; color: #888; padding: 2px 4px; line-height: 12px; background: #f8f8f8; border-radius: 8px;}
.ingredeint {display: inline-block; color: #fe5c00; font-size: 14px; line-height: 18px; background: #fff7f3; font-weight: 500;}
.rate {display: flex; font-size: 12px; line-height: 16px; color: #444; position: relative; gap: 0 2px; align-items: center; font-weight: 500; margin-top: 12px;}
.rate::before { content: "\2605"; color: #FFA112; line-height: 16px; font-size: 14px;}
.rate-count {color: #666;}
.page {display: flex;position: absolute;left: 0;right: 0;width: 100%;z-index: 11;opacity: 0;transition: all .5s linear; justify-content: center; align-items: center; top: 208px;}
.button { position: absolute; width: 36px; height: 36px; border-radius: 4px; border: 1px solid #eee; box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3); font-size: 0; text-indent: -9999px; opacity: 1; transition: all .1s ease-in-out; background: url("//img.enuri.info/images/health/web/btn_page.svg") #fff center no-repeat; background-size: 12px;}
.prev-button {left: 0; transform: rotate(180deg); box-shadow: 0 -3px 3px 0px rgba(0, 0, 0, 0.3); }
.next-button { right: 0;}
.recommend-goods:hover .page {opacity: 1;}
.recommend-goods:hover .prev-button{left: -19px}
.recommend-goods:hover .next-button {right: -19px}