@charset "utf-8";

.inner {width: 1280px; margin: 0 auto; display: flex; padding: 18px 0; align-items: center;}

/* 로고 */
.logo {display: flex; align-items: center; gap: 0 25px; position: relative;}
.logo::before {content: "";width: 1px;height: 28px;background: #ccc;position: absolute;top: 50%;transform: translateY(-50%);left: 132px;}
.logo a {font-size: 0;}
.logo-enuri { width: 120px; height: 40px; background: url(//img.enuri.info/images/health/web/enuri-logo.svg);}
.logo-health { width: 140px; height: 40px; background: url(//img.enuri.info/images/health/web/health-logo.svg);}

/* 검색창 */
.search {display: flex; width: 482px; margin-left: 115px; position: relative;}
.ipt {border: 1px solid #fe5c00;padding: 15px 88px 15px 24px;background-color: #fff;width: 100%;height: 52px;box-sizing: border-box;border-radius: 26px; line-height: 26px; font-size: 16px;}
.ipt::placeholder {color: #444; font-size: 16px; letter-spacing: -0.5px;}
.search__btn {width: 36px; height: 36px; position: absolute; top: 7px; right: 20px; background: url(//img.enuri.info/images/health/web/header-sr__btn--search.svg);font-size: 0; text-indent: -999em;}

/* 내메뉴 */
.mymenu {display: flex; margin: 0 0 -10px auto}
.box {position: relative;}
.info__btn,
.latelygoods__btn,
.alarm__btn {width: 76px; text-align: center; color: #666; font-size: 13px; padding-top: 37px; position: relative; letter-spacing: -0.4px; padding-bottom: 8px;}
.info__btn::before,
.latelygoods__btn::before,
.alarm__btn::before {content: "";width: 32px;height: 32px;background: url(//img.enuri.info/images/rev/common_sprite.png)-160px -550px no-repeat; position: absolute; left: 50%; transform: translateX(-50%); top: 0;}
.latelygoods__btn::before {background-position-x: -200px;}
.alarm__btn::before {background-position-x: -240px;}
.my__layer { position: absolute; padding: 9px 14px; border: 1px solid #aaa; border-radius: 8px; background-color: #fff; width:80px; z-index: 1; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); left: -15px;}
.my__layer::before {content: ""; position: absolute; width: 10px; height: 10px; border-left: 1px solid #aaa; border-top: 1px solid #aaa; background-color: #fff; transform: rotate(45deg); top: -6px; margin-left: -6px; left: 50%; border-radius: 2px;}
.my__layer a {display: block; font-size: 13px; color: #444; padding: 5px 0; letter-spacing: -0.6px;}
.login__btn{font-size: 13px; color: #666; padding: 5px 0;}
.logout__btn {font-size: 13px; color: #666; padding: 5px 0;}

/* 네비게이션 */
.nav {background: #fe5c00; padding: 16px 0;}
.list {width: 580px; margin: 0 auto; display: flex; gap: 0 15px;}
.list li {position: relative;}
.list li::before { content: ""; background: rgba(255, 255, 255, 0.2); position: absolute; width: 1px; height: 20px; left: 0; top: 50%; transform: translateY(-50%);}
.list li:first-child:before {display: none;}
.list a {display: block; font-size: 18px; color: rgba(255, 255, 255, 0.75); font-weight: 500;line-height: 20px; padding: 0 18px;}
.list a.active {color: #fff; font-weight: 800;}

