.wrap {background: #000; padding-top: 100px;}
.visual {text-align: center;}
.visual span {display: block;}
.visual .visual_txt1 {font-size: 14px; line-height: 18px; color: #fff; margin-bottom: 11px;}
.visual .visual_txt2 {width: 282px; margin: 0 auto;}
.visual .my_benefit {background: #2B2B2B; border-radius: 8px; padding: 18px 6px;width: 274px; margin: 25px auto 0;}
.visual .my_benefit_txt1 {font-size: 12px; line-height: 16px; color: #FFADC1; font-weight: 700;}
.visual .my_benefit_txt2 {font-size: 26px; line-height: 34px; font-weight: 700; color: #fff; }
.my_benefit_txt2 .emoney {width: 22px; height: 22px;background: url("//img.enuri.info/images/event/2024/collection_benefit/aug/i_emoney.png") no-repeat 0 0 / 100%; margin-right: 2px; vertical-align: -2px;}
.my_benefit_txt2 span {display: inline-block;animation: flip 4.8s infinite; animation-delay: calc(.15s * var(--i))}

@keyframes flip {
	0%{transform: rotateY(360deg);}
	15%{transform: rotateY(0);}
}
